fastapi
uvicorn[standard]
gunicorn
requests
python-dotenv
python-telegram-bot>=20.0
psycopg2-binary
langchain
langchain-anthropic
pandas
numpy
matplotlib
fredapi
hmmlearn
yfinance
statsmodels
seaborn
openpyxl
paramiko
